body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial;
  text-align: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
